# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so

# Environments
.env
venv/
.venv/
env/

# Model artifacts
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml
